In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import os
from glob import glob
import pickle
import matplotlib.pyplot as plt
%matplotlib inline 
import seaborn as sns

Mounted at /content/drive

# 제대로 저장안됨 추가 처리 필요

In [2]:
df = pd.read_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/모델링용 최종본/이상_x_스케일_x.csv')

In [3]:
df = df.drop(columns=['Unnamed: 0'])

In [4]:
df.columns

Index(['행정동', '인허가일자', '상권코드', '사업장명', '시군구코드', '행정동코드', '소재지수정', '폐업여부',
       '사업기간', '현재영업여부', '인허가분기', '인허가년도', '다중이용업소여부', '철도_역_수', '버스_터미널_수',
       '가맹여부', '코로나여부', '상권여부', '대학교_유무', '백화점_유무', '폐업1년이내', '폐업3년이내',
       '시설총규모', '추정임대료', '집객시설_수', '관공서_수', '은행_수', '슈퍼마켓_수', '극장_수',
       '숙박_시설_수', '지하철_역_수', '버스_정거장_수', '총_생활인구_수', '아파트_단지_수', '의료기관_수',
       '교육기관_수', '생활인구_성별_비', '아파트_평당_가격', '총 상주인구 수', '상주인구_성별_비', '총 가구 수',
       '거주_유형_비', '점포당_매출_금액', '건수당_매출_금액', '점포수', '유사_업종_점포_수', '프랜차이즈_점포_수',
       '개업_율', '폐업_률', '선행종합지수', '소비자물가지수', '소비자심리지수', '중소기업대출금리', '업종분류',
       '상권변화_지표명', '상권구분_코드명', '시군구', '생활인구_연령_대표', '상주인구_연령_대표'],
      dtype='object')

In [5]:
colname = ['집객시설_수','관공서_수','은행_수','슈퍼마켓_수','극장_수','숙박_시설_수','지하철_역_수','버스_정거장_수','아파트_단지_수','의료기관_수','교육기관_수','점포수','유사_업종_점포_수','프랜차이즈_점포_수']
colname1 = ['집객시설_수','관공서_수','은행_수','슈퍼마켓_수','극장_수','숙박_시설_수']
colname2= ['지하철_역_수','버스_정거장_수','아파트_단지_수','의료기관_수']
colname3 = ['교육기관_수','점포수','유사_업종_점포_수','프랜차이즈_점포_수']
df.loc[:,colname]

,집객시설_수,관공서_수,은행_수,슈퍼마켓_수,극장_수,숙박_시설_수,지하철_역_수,버스_정거장_수,아파트_단지_수,의료기관_수,교육기관_수,점포수,유사_업종_점포_수,프랜차이즈_점포_수
0,113.0,3.0,4.0,0.0,5.0,53.0,3.0,11.0,10.0,10.0,0.0,5.613128,5.303305,2.995732
1,9.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,32.0,2.0,0.0,2.772589,2.484907,1.386294
2,61.0,2.0,7.0,1.0,0.0,4.0,1.0,13.0,7.0,10.0,0.0,5.356586,4.882802,2.833213
3,8.0,0.0,0.0,0.0,0.0,4.0,0.0,3.0,91.0,1.0,0.0,4.143135,3.526361,0.693147
4,18.0,2.0,1.0,0.0,0.0,1.0,0.0,6.0,98.0,4.0,0.0,5.081404,4.644391,1.609438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45697,13.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,38.0,2.0,0.0,3.610918,3.044522,0.000000
45698,60.0,0.0,1.0,0.0,0.0,0.0,3.0,17.0,48.0,11.0,3.0,4.521789,3.688879,2.197225
45699,19.0,0.0,4.0,0.0,0.0,0.0,0.0,3.0,33.0,4.0,0.0,2.772589,3.044522,0.000000
45700,19.0,0.0,4.0,0.0,0.0,0.0,0.0,3.0,33.0,4.0,0.0,5.129899,4.369448,1.945910
45701,19.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0,143.0,3.0,2.0,3.272417,2.708050,0.753772

In [6]:
df['철도_역_수'] = df['철도_역_수'].apply(lambda x:1 if x > 0 else 0)

In [7]:
df['버스_터미널_수'] = df['버스_터미널_수'].apply(lambda x:1 if x > 0 else 0)

In [8]:
df= df.rename(columns={'철도_역_수':'철도역_유무','버스_터미널_수':'버스터미널_유무'})

In [9]:
df.columns

Index(['행정동', '인허가일자', '상권코드', '사업장명', '시군구코드', '행정동코드', '소재지수정', '폐업여부',
       '사업기간', '현재영업여부', '인허가분기', '인허가년도', '다중이용업소여부', '철도역_유무', '버스터미널_유무',
       '가맹여부', '코로나여부', '상권여부', '대학교_유무', '백화점_유무', '폐업1년이내', '폐업3년이내',
       '시설총규모', '추정임대료', '집객시설_수', '관공서_수', '은행_수', '슈퍼마켓_수', '극장_수',
       '숙박_시설_수', '지하철_역_수', '버스_정거장_수', '총_생활인구_수', '아파트_단지_수', '의료기관_수',
       '교육기관_수', '생활인구_성별_비', '아파트_평당_가격', '총 상주인구 수', '상주인구_성별_비', '총 가구 수',
       '거주_유형_비', '점포당_매출_금액', '건수당_매출_금액', '점포수', '유사_업종_점포_수', '프랜차이즈_점포_수',
       '개업_율', '폐업_률', '선행종합지수', '소비자물가지수', '소비자심리지수', '중소기업대출금리', '업종분류',
       '상권변화_지표명', '상권구분_코드명', '시군구', '생활인구_연령_대표', '상주인구_연령_대표'],
      dtype='object')

In [10]:
for col in colname:
  df[col] = df[col]/df['총_생활인구_수']

In [11]:
colname = ['집객시설_수','관공서_수','은행_수','슈퍼마켓_수','극장_수','숙박_시설_수','지하철_역_수','버스_정거장_수','아파트_단지_수','의료기관_수','교육기관_수','점포수','유사_업종_점포_수','프랜차이즈_점포_수','총_생활인구_수']
df.loc[:,colname]

,집객시설_수,관공서_수,은행_수,슈퍼마켓_수,극장_수,숙박_시설_수,지하철_역_수,버스_정거장_수,아파트_단지_수,의료기관_수,교육기관_수,점포수,유사_업종_점포_수,프랜차이즈_점포_수,총_생활인구_수
0,0.000063,1.676718e-06,2.235624e-06,0.000000e+00,0.000003,2.962201e-05,1.676718e-06,6.147965e-06,0.000006,5.589059e-06,0.000000e+00,3.137210e-06,2.964048e-06,1.674332e-06,1789210.0
1,0.000016,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,3.489202e-06,0.000056,3.489202e-06,0.000000e+00,4.837061e-06,4.335170e-06,2.418530e-06,573197.0
2,0.000058,1.908228e-06,6.678797e-06,9.541138e-07,0.000000,3.816455e-06,9.541138e-07,1.240348e-05,0.000007,9.541138e-06,0.000000e+00,5.110793e-06,4.658749e-06,2.703208e-06,1048093.0
3,0.000005,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,2.389339e-06,0.000000e+00,1.792004e-06,0.000054,5.973348e-07,0.000000e+00,2.474839e-06,2.106418e-06,4.140409e-07,1674103.0
4,0.000006,6.723826e-07,3.361913e-07,0.000000e+00,0.000000,3.361913e-07,0.000000e+00,2.017148e-06,0.000033,1.344765e-06,0.000000e+00,1.708324e-06,1.561404e-06,5.410790e-07,2974497.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45697,0.000018,1.353796e-06,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000051,2.707591e-06,0.000000e+00,4.888444e-06,4.121661e-06,0.000000e+00,738664.0
45698,0.000039,0.000000e+00,6.463949e-07,0.000000e+00,0.000000,0.000000e+00,1.939185e-06,1.098871e-05,0.000031,7.110343e-06,1.939185e-06,2.922861e-06,2.384473e-06,1.420275e-06,1547042.0
45699,0.000029,0.000000e+00,6.161268e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,4.620951e-06,0.000051,6.161268e-06,0.000000e+00,4.270666e-06,4.689530e-06,0.000000e+00,649217.0
45700,0.000029,0.000000e+00,6.161268e-06,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,4.620951e-06,0.000051,6.161268e-06,0.000000e+00,7.901670e-06,6.730335e-06,2.997319e-06,649217.0
45701,0.000005,2.597670e-07,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,7.793011e-07,0.000037,7.793011e-07,5.195341e-07,8.500660e-07,7.034622e-07,1.958051e-07,3849603.0

In [16]:
df['철도역_유무']

0        0
1        0
2        0
3        0
4        0
        ..
45697    0
45698    0
45699    0
45700    0
45701    0
Name: 철도역_유무, Length: 45702, dtype: int64

In [17]:
df.to_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/모델링용 최종본/이상_x_스케일_x(총생활인구로나눔).csv')