In [1]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import os
from glob import glob
import pickle

Mounted at /content/drive

스케일링 필요, 이상치 제거 필요, 로그변환 필요,원핫 인코딩 필요

In [2]:
real_df = pd.read_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/모델링용 최종본/이상_x_스케일_x.csv')

In [3]:
df = real_df.copy()

In [4]:
df

,Unnamed: 0,행정동,인허가일자,상권코드,사업장명,시군구코드,행정동코드,소재지수정,폐업여부,사업기간,...,선행종합지수,소비자물가지수,소비자심리지수,중소기업대출금리,업종분류,상권변화_지표명,상권구분_코드명,시군구,생활인구_연령_대표,상주인구_연령_대표
0,0,을지로6가,2017-01-02,2120037.0,면면,11140.0,11140590.0,서울특별시 중구 을지로6가 18-12,1,569.0,...,107.2,97.632,94.0,4.60,한식음식점,정체,발달상권,중구,청년층,노년층
1,1,행당동,2017-01-02,2110112.0,백채왕십리역점,11200.0,11200560.0,서울특별시 성동구 행당동 286-43,0,2005.0,...,107.2,97.632,94.0,4.60,한식음식점,상권확장,골목상권,성동구,노년층,중장년층/자녀
2,2,성수동2가,2017-01-02,2120052.0,우리푸드,11200.0,11200690.0,서울특별시 성동구 성수동2가 289-5,0,2005.0,...,107.2,97.632,94.0,4.60,한식음식점,상권확장,발달상권,성동구,청년층,청년층
3,3,장안동,2017-01-02,2110229.0,일촌김밥분식,11230.0,11230650.0,서울특별시 동대문구 장안동 374-1,1,261.0,...,107.2,97.632,94.0,4.60,한식음식점,정체,골목상권,동대문구,노년층,중장년층/자녀
4,4,장안동,2017-01-02,2110226.0,마마포차,11230.0,11230650.0,서울특별시 동대문구 장안동 390-25,0,2005.0,...,107.2,97.632,94.0,4.60,한식음식점,정체,골목상권,동대문구,노년층,중장년층/자녀
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45697,45697,명일동,2021-12-30,2111080.0,주식회사더크레스트명일지점,11740.0,11740530.0,서울특별시 강동구 명일동 326-11,0,182.0,...,127.7,104.040,104.0,3.25,한식음식점,다이나믹,골목상권,강동구,노년층,노년층
45698,45698,강일동,2021-12-30,2111088.0,곽만근족발슈바인학센강일고덕점,11740.0,11740560.0,서울특별시 강동구 강일동 679-3,0,182.0,...,127.7,104.040,104.0,3.25,한식음식점,다이나믹,골목상권,강동구,노년층,중장년층/자녀
45699,45699,신사동,2021-12-31,2120193.0,마일하이(Milehigh),11680.0,11680545.0,서울특별시 강남구 신사동 648-4,0,181.0,...,127.7,104.040,104.0,3.25,양식음식점,다이나믹,발달상권,강남구,청년층,청년층
45700,45700,신사동,2021-12-31,2120193.0,우모크,11680.0,11680545.0,서울특별시 강남구 신사동 644-6,0,181.0,...,127.7,104.040,104.0,3.25,한식음식점,다이나믹,발달상권,강남구,청년층,청년층
45701,45701,길동,2021-12-31,2111078.0,십점구(10.9),11740.0,11740685.0,서울특별시 강동구 길동 325-14,0,181.0,...,127.7,104.040,104.0,3.25,기타,다이나믹,골목상권,강동구,노년층,노년층

In [5]:
df.isnull().sum()

Unnamed: 0    0
행정동           0
인허가일자         0
상권코드          0
사업장명          0
시군구코드         0
행정동코드         0
소재지수정         0
폐업여부          0
사업기간          0
현재영업여부        0
인허가분기         0
인허가년도         0
다중이용업소여부      0
철도_역_수        0
버스_터미널_수      0
가맹여부          0
코로나여부         0
상권여부          0
대학교_유무        0
백화점_유무        0
폐업1년이내        0
폐업3년이내        0
시설총규모         0
추정임대료         0
집객시설_수        0
관공서_수         0
은행_수          0
슈퍼마켓_수        0
극장_수          0
숙박_시설_수       0
지하철_역_수       0
버스_정거장_수      0
총_생활인구_수      0
아파트_단지_수      0
의료기관_수        0
교육기관_수        0
생활인구_성별_비     0
아파트_평당_가격     0
총 상주인구 수      0
상주인구_성별_비     0
총 가구 수        0
거주_유형_비       0
점포당_매출_금액     0
건수당_매출_금액     0
점포수           0
유사_업종_점포_수    0
프랜차이즈_점포_수    0
개업_율          0
폐업_률          0
선행종합지수        0
소비자물가지수       0
소비자심리지수       0
중소기업대출금리      0
업종분류          0
상권변화_지표명      0
상권구분_코드명      0
시군구           0
생활인구_연령_대표    0
상주인구_연령_대표    0
dtype: int64

In [6]:
df = df.drop(columns=['Unnamed: 0'])
# main = main.drop(columns=['청년층_생활인구','중년층_생활인구','노년층_생활인구'])

In [7]:
df.columns

Index(['행정동', '인허가일자', '상권코드', '사업장명', '시군구코드', '행정동코드', '소재지수정', '폐업여부',
       '사업기간', '현재영업여부', '인허가분기', '인허가년도', '다중이용업소여부', '철도_역_수', '버스_터미널_수',
       '가맹여부', '코로나여부', '상권여부', '대학교_유무', '백화점_유무', '폐업1년이내', '폐업3년이내',
       '시설총규모', '추정임대료', '집객시설_수', '관공서_수', '은행_수', '슈퍼마켓_수', '극장_수',
       '숙박_시설_수', '지하철_역_수', '버스_정거장_수', '총_생활인구_수', '아파트_단지_수', '의료기관_수',
       '교육기관_수', '생활인구_성별_비', '아파트_평당_가격', '총 상주인구 수', '상주인구_성별_비', '총 가구 수',
       '거주_유형_비', '점포당_매출_금액', '건수당_매출_금액', '점포수', '유사_업종_점포_수', '프랜차이즈_점포_수',
       '개업_율', '폐업_률', '선행종합지수', '소비자물가지수', '소비자심리지수', '중소기업대출금리', '업종분류',
       '상권변화_지표명', '상권구분_코드명', '시군구', '생활인구_연령_대표', '상주인구_연령_대표'],
      dtype='object')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45702 entries, 0 to 45701
Data columns (total 59 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정동         45702 non-null  object
 1   인허가일자       45702 non-null  object
 2   상권코드        45702 non-null  float64
 3   사업장명        45702 non-null  object
 4   시군구코드       45702 non-null  float64
 5   행정동코드       45702 non-null  float64
 6   소재지수정       45702 non-null  object
 7   폐업여부        45702 non-null  int64
 8   사업기간        45702 non-null  float64
 9   현재영업여부      45702 non-null  int64
 10  인허가분기       45702 non-null  int64
 11  인허가년도       45702 non-null  int64
 12  다중이용업소여부    45702 non-null  int64
 13  철도_역_수      45702 non-null  float64
 14  버스_터미널_수    45702 non-null  float64
 15  가맹여부        45702 non-null  int64
 16  코로나여부       45702 non-null  int64
 17  상권여부        45702 non-null  int64
 18  대학교_유무      45702 non-null  int64
 19  백화점_유무      45702 non-null  int64
 20  폐업1년이내      45702 non-null  int64
 21  폐업3년이내      45702 non-null  int64
 22  시설총규모       45702 non-null  float64
 23  추정임대료       45702 non-null  float64
 24  집객시설_수      45702 non-null  float64
 25  관공서_수       45702 non-null  float64
 26  은행_수        45702 non-null  float64
 27  슈퍼마켓_수      45702 non-null  float64
 28  극장_수        45702 non-null  float64
 29  숙박_시설_수     45702 non-null  float64
 30  지하철_역_수     45702 non-null  float64
 31  버스_정거장_수    45702 non-null  float64
 32  총_생활인구_수    45702 non-null  float64
 33  아파트_단지_수    45702 non-null  float64
 34  의료기관_수      45702 non-null  float64
 35  교육기관_수      45702 non-null  float64
 36  생활인구_성별_비   45702 non-null  float64
 37  아파트_평당_가격   45702 non-null  float64
 38  총 상주인구 수    45702 non-null  float64
 39  상주인구_성별_비   45702 non-null  float64
 40  총 가구 수      45702 non-null  float64
 41  거주_유형_비     45702 non-null  float64
 42  점포당_매출_금액   45702 non-null  float64
 43  건수당_매출_금액   45702 non-null  float64
 44  점포수         45702 non-null  float64
 45  유사_업종_점포_수  45702 non-null  float64
 46  프랜차이즈_점포_수  45702 non-null  float64
 47  개업_율        45702 non-null  float64
 48  폐업_률        45702 non-null  float64
 49  선행종합지수      45702 non-null  float64
 50  소비자물가지수     45702 non-null  float64
 51  소비자심리지수     45702 non-null  float64
 52  중소기업대출금리    45702 non-null  float64
 53  업종분류        45702 non-null  object
 54  상권변화_지표명    45702 non-null  object
 55  상권구분_코드명    45702 non-null  object
 56  시군구         45702 non-null  object
 57  생활인구_연령_대표  45702 non-null  object
 58  상주인구_연령_대표  45702 non-null  object
dtypes: float64(37), int64(12), object(10)
memory usage: 20.6+ MB

In [9]:
df.describe()

,상권코드,시군구코드,행정동코드,폐업여부,사업기간,현재영업여부,인허가분기,인허가년도,다중이용업소여부,철도_역_수,...,건수당_매출_금액,점포수,유사_업종_점포_수,프랜차이즈_점포_수,개업_율,폐업_률,선행종합지수,소비자물가지수,소비자심리지수,중소기업대출금리
count,4.570200e+04,45702.000000,4.570200e+04,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,...,4.570200e+04,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000
mean,2.104256e+06,11463.717671,1.146434e+07,0.304013,856.723885,0.695987,2.513457,2019.058991,0.084066,0.008915,...,2.941903e+04,3.630108,3.125232,1.286626,1.294046,1.237110,116.195398,99.756377,99.156339,3.822434
std,1.092558e+05,190.047501,1.900333e+05,0.459993,516.644086,0.459993,1.100050,1.388331,0.277490,0.112080,...,2.592131e+04,1.274215,1.186864,1.063642,1.009967,1.001049,6.103403,1.621880,9.311555,0.656589
min,1.001491e+06,11110.000000,1.111052e+07,0.000000,0.000000,0.000000,1.000000,2017.000000,0.000000,0.000000,...,2.502627e+03,0.000000,0.000000,0.000000,0.000000,0.000000,107.200000,97.338000,73.000000,3.250000
25%,2.110478e+06,11290.000000,1.129081e+07,0.000000,423.000000,0.000000,2.000000,2018.000000,0.000000,0.000000,...,1.862816e+04,2.708050,2.261763,0.470004,0.000000,0.000000,112.100000,98.855000,94.000000,3.250000
50%,2.110905e+06,11470.000000,1.147058e+07,0.000000,764.000000,1.000000,2.000000,2019.000000,0.000000,0.000000,...,2.678993e+04,3.610918,3.091042,1.098612,1.475907,1.386294,114.000000,99.462000,100.000000,3.440000
75%,2.120131e+06,11650.000000,1.165053e+07,1.000000,1235.000000,1.000000,3.000000,2020.000000,0.000000,0.000000,...,3.485609e+04,4.510860,3.931826,2.005971,2.028148,1.945910,120.300000,100.330000,106.000000,4.600000
max,2.130326e+06,11740.000000,1.174070e+07,1.000000,2005.000000,1.000000,4.000000,2021.000000,1.000000,2.000000,...,2.143374e+06,6.855409,6.287859,4.779123,4.615121,5.707110,127.700000,104.040000,113.000000,4.710000

In [10]:
# 영업중인 상권기준으로 사업기간이 3년 이하인 업체 제거
df =df[~((df['현재영업여부']==1)*(df['사업기간']<365))]

In [11]:
df['폐업1년이내'].value_counts()/len(df)

0    0.877355
1    0.122645
Name: 폐업1년이내, dtype: float64

In [12]:
df.columns

Index(['행정동', '인허가일자', '상권코드', '사업장명', '시군구코드', '행정동코드', '소재지수정', '폐업여부',
       '사업기간', '현재영업여부', '인허가분기', '인허가년도', '다중이용업소여부', '철도_역_수', '버스_터미널_수',
       '가맹여부', '코로나여부', '상권여부', '대학교_유무', '백화점_유무', '폐업1년이내', '폐업3년이내',
       '시설총규모', '추정임대료', '집객시설_수', '관공서_수', '은행_수', '슈퍼마켓_수', '극장_수',
       '숙박_시설_수', '지하철_역_수', '버스_정거장_수', '총_생활인구_수', '아파트_단지_수', '의료기관_수',
       '교육기관_수', '생활인구_성별_비', '아파트_평당_가격', '총 상주인구 수', '상주인구_성별_비', '총 가구 수',
       '거주_유형_비', '점포당_매출_금액', '건수당_매출_금액', '점포수', '유사_업종_점포_수', '프랜차이즈_점포_수',
       '개업_율', '폐업_률', '선행종합지수', '소비자물가지수', '소비자심리지수', '중소기업대출금리', '업종분류',
       '상권변화_지표명', '상권구분_코드명', '시군구', '생활인구_연령_대표', '상주인구_연령_대표'],
      dtype='object')

In [13]:
df = df.drop(columns = ['상권코드', '사업장명', '시군구코드', '행정동코드', '소재지수정','폐업여부','현재영업여부','인허가일자','사업기간','폐업3년이내']) # 필요없는 변수 제거

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41714 entries, 0 to 45685
Data columns (total 49 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정동         41714 non-null  object
 1   인허가분기       41714 non-null  int64
 2   인허가년도       41714 non-null  int64
 3   다중이용업소여부    41714 non-null  int64
 4   철도_역_수      41714 non-null  float64
 5   버스_터미널_수    41714 non-null  float64
 6   가맹여부        41714 non-null  int64
 7   코로나여부       41714 non-null  int64
 8   상권여부        41714 non-null  int64
 9   대학교_유무      41714 non-null  int64
 10  백화점_유무      41714 non-null  int64
 11  폐업1년이내      41714 non-null  int64
 12  시설총규모       41714 non-null  float64
 13  추정임대료       41714 non-null  float64
 14  집객시설_수      41714 non-null  float64
 15  관공서_수       41714 non-null  float64
 16  은행_수        41714 non-null  float64
 17  슈퍼마켓_수      41714 non-null  float64
 18  극장_수        41714 non-null  float64
 19  숙박_시설_수     41714 non-null  float64
 20  지하철_역_수     41714 non-null  float64
 21  버스_정거장_수    41714 non-null  float64
 22  총_생활인구_수    41714 non-null  float64
 23  아파트_단지_수    41714 non-null  float64
 24  의료기관_수      41714 non-null  float64
 25  교육기관_수      41714 non-null  float64
 26  생활인구_성별_비   41714 non-null  float64
 27  아파트_평당_가격   41714 non-null  float64
 28  총 상주인구 수    41714 non-null  float64
 29  상주인구_성별_비   41714 non-null  float64
 30  총 가구 수      41714 non-null  float64
 31  거주_유형_비     41714 non-null  float64
 32  점포당_매출_금액   41714 non-null  float64
 33  건수당_매출_금액   41714 non-null  float64
 34  점포수         41714 non-null  float64
 35  유사_업종_점포_수  41714 non-null  float64
 36  프랜차이즈_점포_수  41714 non-null  float64
 37  개업_율        41714 non-null  float64
 38  폐업_률        41714 non-null  float64
 39  선행종합지수      41714 non-null  float64
 40  소비자물가지수     41714 non-null  float64
 41  소비자심리지수     41714 non-null  float64
 42  중소기업대출금리    41714 non-null  float64
 43  업종분류        41714 non-null  object
 44  상권변화_지표명    41714 non-null  object
 45  상권구분_코드명    41714 non-null  object
 46  시군구         41714 non-null  object
 47  생활인구_연령_대표  41714 non-null  object
 48  상주인구_연령_대표  41714 non-null  object
dtypes: float64(33), int64(9), object(7)
memory usage: 15.9+ MB

In [15]:
df['인허가년도'] = df['인허가년도'].astype('str')
df['인허가분기']= df['인허가분기'].astype('str')

In [16]:
len(df['행정동'].unique())
len(df['시군구'].unique())
len(df['업종분류'].unique())

10

In [17]:
행정동 = df.pop('행정동')

In [18]:
# 여기서 mi score를 구해야할 필요가 있다.
# vif를 통해 너무 겹치는거 제거.

# mi score,**vif** 계산

In [19]:
# 더미변수 로 변환하지 않은 train, test 샘플로 분리
from sklearn.model_selection import train_test_split
data = df[df.columns.difference(["폐업1년이내"])]
label = df['폐업1년이내']
X_train, X_test, y_train, y_test = train_test_split(data,label,test_size = 0.3, shuffle = True, random_state = 21)

In [20]:
category_feature = [ col for col in X_train.columns if X_train[col].dtypes == "object"]
num_feature = X_train.columns.difference(category_feature)

In [21]:
for col in num_feature:
  X_train[col] = X_train[col].astype(int)

In [22]:
for colname in X_train.select_dtypes("object"):
    X_train[colname], _ = X_train[colname].factorize()

discrete_features = X_train.dtypes == int

In [23]:
from sklearn.feature_selection import mutual_info_regression

def make_mi_scores(X, y, discrete_features):
    mi_scores = mutual_info_regression(X, y, discrete_features=discrete_features)
    mi_scores = pd.Series(mi_scores, name="3년이내 폐업으로 한 MI Scores", index=X.columns)
    mi_scores = mi_scores.sort_values(ascending=False)
    return mi_scores

mi_scores = make_mi_scores(X_train, y_train, discrete_features)
mi_scores  # show a few features with their MI scores

추정임대료         0.403191
점포당_매출_금액     0.142577
건수당_매출_금액     0.091665
총_생활인구_수      0.080021
아파트_평당_가격     0.051000
총 상주인구 수      0.039561
총 가구 수        0.036593
시설총규모         0.032098
아파트_단지_수      0.012596
소비자심리지수       0.010992
소비자물가지수       0.009280
집객시설_수        0.008828
의료기관_수        0.007983
선행종합지수        0.007630
은행_수          0.006677
버스_정거장_수      0.006177
가맹여부          0.004101
프랜차이즈_점포_수    0.003021
폐업_률          0.002758
극장_수          0.001847
중소기업대출금리      0.001515
상권구분_코드명      0.001227
거주_유형_비       0.000979
개업_율          0.000880
백화점_유무        0.000836
교육기관_수        0.000727
다중이용업소여부      0.000651
유사_업종_점포_수    0.000633
점포수           0.000598
대학교_유무        0.000564
버스_터미널_수      0.000504
철도_역_수        0.000403
코로나여부         0.000349
상권여부          0.000260
관공서_수         0.000000
지하철_역_수       0.000000
생활인구_연령_대표    0.000000
인허가년도         0.000000
인허가분기         0.000000
생활인구_성별_비     0.000000
업종분류          0.000000
상권변화_지표명      0.000000
시군구           0.000000
숙박_시설_수       0.000000
상주인구_성별_비     0.000000
상주인구_연령_대표    0.000000
슈퍼마켓_수        0.000000
Name: 3년이내 폐업으로 한 MI Scores, dtype: float64

In [26]:
mi_index = mi_scores[mi_scores > 0.01].index
mi_index

Index(['추정임대료', '점포당_매출_금액', '건수당_매출_금액', '총_생활인구_수', '아파트_평당_가격', '총 상주인구 수',
       '총 가구 수', '시설총규모', '아파트_단지_수', '소비자심리지수'],
      dtype='object')

In [27]:
X_train.loc[:,mi_index].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29199 entries, 15722 to 15305
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   추정임대료      29199 non-null  int64
 1   점포당_매출_금액  29199 non-null  int64
 2   건수당_매출_금액  29199 non-null  int64
 3   총_생활인구_수   29199 non-null  int64
 4   아파트_평당_가격  29199 non-null  int64
 5   총 상주인구 수   29199 non-null  int64
 6   총 가구 수     29199 non-null  int64
 7   시설총규모      29199 non-null  int64
 8   아파트_단지_수   29199 non-null  int64
 9   소비자심리지수    29199 non-null  int64
dtypes: int64(10)
memory usage: 2.5 MB

# **모델링 작업**

In [ ]:
# # 이건 모든 변수 사용
# from sklearn.model_selection import train_test_split
# data = df[df.columns.difference(["폐업3년이내"])]
# label = df['폐업3년이내']
# X_train, X_test, y_train, y_test = train_test_split(data,label,test_size = 0.3, shuffle = True, random_state = 21)

In [29]:
# 이건 miscore > 0.1 이상인 변수만 사용
from sklearn.model_selection import train_test_split
data = df[mi_index]
label = df['폐업1년이내']
X_train, X_test, y_train, y_test = train_test_split(data,label,test_size = 0.3, shuffle = True, random_state = 21)

In [30]:
# 전처리를 위해 train데이터와 test데이터 병합
whole_df = X_train.append(X_test)
# train 로우 개수 미리 확인(다시 나눠야 하니깐)
train_df_num = len(X_train)

In [31]:
whole_df = pd.get_dummies(whole_df)
whole_index = whole_df.columns

In [32]:
# 다시 데이터 트레인과 test로 분리
X_train = whole_df[:train_df_num]
X_test = whole_df[train_df_num:]

In [33]:
from sklearn.preprocessing import MinMaxScaler
# 표준화작업 진행
scaler = MinMaxScaler()
scaler.fit(X_train)
whole_df = scaler.transform(whole_df)

In [34]:
# 다시 데이터 트레인과 test로 분리
X_train = whole_df[:train_df_num]
X_test = whole_df[train_df_num:]

In [35]:
X_train=pd.DataFrame(X_train,columns=whole_index)
X_test=pd.DataFrame(X_test,columns=whole_index)

In [36]:
skew = pd.DataFrame(X_train.skew())

In [37]:
skewid = skew.loc[skew[0]>3].index
skew.loc[skew[0]>3]

                   0
추정임대료      30.241008
점포당_매출_금액   3.212200
건수당_매출_금액  25.157784
시설총규모       8.693879
아파트_단지_수    3.023923

In [38]:
skewid

Index(['추정임대료', '점포당_매출_금액', '건수당_매출_금액', '시설총규모', '아파트_단지_수'], dtype='object')

In [39]:
whole_df=pd.DataFrame(whole_df,columns=whole_index)

In [40]:
# 로그변환 작업
for col in skewid:
  whole_df[col] = np.log1p(whole_df[col])

In [41]:
# 다시 데이터 트레인과 test로 분리
X_train = whole_df[:train_df_num]
X_test = whole_df[train_df_num:]

In [42]:
skew = pd.DataFrame(X_train.skew()) # 조금 줄긴함 하지만 여전히 skew
skew.loc[skew[0]>3]

                   0
추정임대료      20.130828
건수당_매출_금액  16.511157
시설총규모       6.457105

In [59]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(max_iter=200,penalty='l1',solver='liblinear')
log_reg.fit(X_train,y_train)

LogisticRegression(max_iter=200, penalty='l1', solver='liblinear')

In [60]:
y_pred = log_reg.predict(X_test)

In [61]:
y_test

39183    1
15239    0
22764    0
32930    0
4877     1
        ..
37501    0
39380    0
862      0
23019    0
23905    0
Name: 폐업1년이내, Length: 12515, dtype: int64

In [62]:
from sklearn.model_selection import GridSearchCV

params = {'penalty':['l2', 'l1'],
         'C':[0.01, 0.1, 1, 5, 10]}

grid_reg = GridSearchCV(log_reg, param_grid=params, scoring='f1', cv=3,error_score='raise')
grid_reg.fit(X_train, y_train)
print('최적 하이퍼 파라미터 :{0}, 최적 평균 f1_score :{1:.3f}'.format(grid_reg.best_params_,
                                                   grid_reg.best_score_))

최적 하이퍼 파라미터 :{'C': 0.01, 'penalty': 'l2'}, 최적 평균 f1_score :0.000

In [63]:
y_pred = grid_reg.predict(X_test)

In [64]:
coef = pd.DataFrame(log_reg.coef_,columns=whole_index).T
coef = coef.rename(columns={0:'coefficient'})
coef.sort_values('coefficient')

           coefficient
시설총규모       -22.295064
총 상주인구 수     -1.514631
건수당_매출_금액    -0.371773
소비자심리지수       0.068838
총_생활인구_수      0.473646
아파트_단지_수      0.620733
총 가구 수        0.837764
점포당_매출_금액     1.836605
아파트_평당_가격     2.028622
추정임대료         3.732125

In [65]:
# 성능 평가

from sklearn.metrics import accuracy_score, roc_auc_score,f1_score,confusion_matrix

def get_eval(y_test, pred):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    f1 = f1_score(y_test,y_pred)
    roc_score =  roc_auc_score(y_test, y_pred)
    print('Confusion Matrix')
    print(confusion)
    print('정확도:{:.2f}, f1 score:{:.2f}, roc_score:{:.2f}'.format(accuracy,f1,roc_score))

get_eval(y_test,y_pred)

Confusion Matrix
[[10966     0]
 [ 1549     0]]
정확도:0.88, f1 score:0.00, roc_score:0.50