In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
import os
from glob import glob
import pickle

Mounted at /content/drive

스케일링 필요, 이상치 제거 필요, 로그변환 필요,원핫 인코딩 필요

In [ ]:
real_df = pd.read_csv('/content/drive/MyDrive/통계 빅데이터 공모전/data/모델링용 최종본/이상_x_스케일_x.csv')

In [ ]:
df = real_df.copy()

In [ ]:
df

,Unnamed: 0,행정동,인허가일자,상권코드,사업장명,시군구코드,행정동코드,소재지수정,폐업여부,사업기간,...,선행종합지수,소비자물가지수,소비자심리지수,중소기업대출금리,업종분류,상권변화_지표명,상권구분_코드명,시군구,생활인구_연령_대표,상주인구_연령_대표
0,0,을지로6가,2017-01-02,2120037.0,면면,11140.0,11140590.0,서울특별시 중구 을지로6가 18-12,1,569.0,...,107.2,97.632,94.0,4.60,한식음식점,정체,발달상권,중구,청년층,노년층
1,1,행당동,2017-01-02,2110112.0,백채왕십리역점,11200.0,11200560.0,서울특별시 성동구 행당동 286-43,0,2005.0,...,107.2,97.632,94.0,4.60,한식음식점,상권확장,골목상권,성동구,노년층,중장년층/자녀
2,2,성수동2가,2017-01-02,2120052.0,우리푸드,11200.0,11200690.0,서울특별시 성동구 성수동2가 289-5,0,2005.0,...,107.2,97.632,94.0,4.60,한식음식점,상권확장,발달상권,성동구,청년층,청년층
3,3,장안동,2017-01-02,2110229.0,일촌김밥분식,11230.0,11230650.0,서울특별시 동대문구 장안동 374-1,1,261.0,...,107.2,97.632,94.0,4.60,한식음식점,정체,골목상권,동대문구,노년층,중장년층/자녀
4,4,장안동,2017-01-02,2110226.0,마마포차,11230.0,11230650.0,서울특별시 동대문구 장안동 390-25,0,2005.0,...,107.2,97.632,94.0,4.60,한식음식점,정체,골목상권,동대문구,노년층,중장년층/자녀
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45697,45697,명일동,2021-12-30,2111080.0,주식회사더크레스트명일지점,11740.0,11740530.0,서울특별시 강동구 명일동 326-11,0,182.0,...,127.7,104.040,104.0,3.25,한식음식점,다이나믹,골목상권,강동구,노년층,노년층
45698,45698,강일동,2021-12-30,2111088.0,곽만근족발슈바인학센강일고덕점,11740.0,11740560.0,서울특별시 강동구 강일동 679-3,0,182.0,...,127.7,104.040,104.0,3.25,한식음식점,다이나믹,골목상권,강동구,노년층,중장년층/자녀
45699,45699,신사동,2021-12-31,2120193.0,마일하이(Milehigh),11680.0,11680545.0,서울특별시 강남구 신사동 648-4,0,181.0,...,127.7,104.040,104.0,3.25,양식음식점,다이나믹,발달상권,강남구,청년층,청년층
45700,45700,신사동,2021-12-31,2120193.0,우모크,11680.0,11680545.0,서울특별시 강남구 신사동 644-6,0,181.0,...,127.7,104.040,104.0,3.25,한식음식점,다이나믹,발달상권,강남구,청년층,청년층
45701,45701,길동,2021-12-31,2111078.0,십점구(10.9),11740.0,11740685.0,서울특별시 강동구 길동 325-14,0,181.0,...,127.7,104.040,104.0,3.25,기타,다이나믹,골목상권,강동구,노년층,노년층

In [ ]:
df.isnull().sum()

Unnamed: 0    0
행정동           0
인허가일자         0
상권코드          0
사업장명          0
시군구코드         0
행정동코드         0
소재지수정         0
폐업여부          0
사업기간          0
현재영업여부        0
인허가분기         0
인허가년도         0
다중이용업소여부      0
철도_역_수        0
버스_터미널_수      0
가맹여부          0
코로나여부         0
상권여부          0
대학교_유무        0
백화점_유무        0
폐업1년이내        0
폐업3년이내        0
시설총규모         0
추정임대료         0
집객시설_수        0
관공서_수         0
은행_수          0
슈퍼마켓_수        0
극장_수          0
숙박_시설_수       0
지하철_역_수       0
버스_정거장_수      0
총_생활인구_수      0
아파트_단지_수      0
의료기관_수        0
교육기관_수        0
생활인구_성별_비     0
아파트_평당_가격     0
총 상주인구 수      0
상주인구_성별_비     0
총 가구 수        0
거주_유형_비       0
점포당_매출_금액     0
건수당_매출_금액     0
점포수           0
유사_업종_점포_수    0
프랜차이즈_점포_수    0
개업_율          0
폐업_률          0
선행종합지수        0
소비자물가지수       0
소비자심리지수       0
중소기업대출금리      0
업종분류          0
상권변화_지표명      0
상권구분_코드명      0
시군구           0
생활인구_연령_대표    0
상주인구_연령_대표    0
dtype: int64

In [ ]:
df = df.drop(columns=['Unnamed: 0'])
# main = main.drop(columns=['청년층_생활인구','중년층_생활인구','노년층_생활인구'])

In [ ]:
df.columns

Index(['행정동', '인허가일자', '상권코드', '사업장명', '시군구코드', '행정동코드', '소재지수정', '폐업여부',
       '사업기간', '현재영업여부', '인허가분기', '인허가년도', '다중이용업소여부', '철도_역_수', '버스_터미널_수',
       '가맹여부', '코로나여부', '상권여부', '대학교_유무', '백화점_유무', '폐업1년이내', '폐업3년이내',
       '시설총규모', '추정임대료', '집객시설_수', '관공서_수', '은행_수', '슈퍼마켓_수', '극장_수',
       '숙박_시설_수', '지하철_역_수', '버스_정거장_수', '총_생활인구_수', '아파트_단지_수', '의료기관_수',
       '교육기관_수', '생활인구_성별_비', '아파트_평당_가격', '총 상주인구 수', '상주인구_성별_비', '총 가구 수',
       '거주_유형_비', '점포당_매출_금액', '건수당_매출_금액', '점포수', '유사_업종_점포_수', '프랜차이즈_점포_수',
       '개업_율', '폐업_률', '선행종합지수', '소비자물가지수', '소비자심리지수', '중소기업대출금리', '업종분류',
       '상권변화_지표명', '상권구분_코드명', '시군구', '생활인구_연령_대표', '상주인구_연령_대표'],
      dtype='object')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45702 entries, 0 to 45701
Data columns (total 59 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정동         45702 non-null  object
 1   인허가일자       45702 non-null  object
 2   상권코드        45702 non-null  float64
 3   사업장명        45702 non-null  object
 4   시군구코드       45702 non-null  float64
 5   행정동코드       45702 non-null  float64
 6   소재지수정       45702 non-null  object
 7   폐업여부        45702 non-null  int64
 8   사업기간        45702 non-null  float64
 9   현재영업여부      45702 non-null  int64
 10  인허가분기       45702 non-null  int64
 11  인허가년도       45702 non-null  int64
 12  다중이용업소여부    45702 non-null  int64
 13  철도_역_수      45702 non-null  float64
 14  버스_터미널_수    45702 non-null  float64
 15  가맹여부        45702 non-null  int64
 16  코로나여부       45702 non-null  int64
 17  상권여부        45702 non-null  int64
 18  대학교_유무      45702 non-null  int64
 19  백화점_유무      45702 non-null  int64
 20  폐업1년이내      45702 non-null  int64
 21  폐업3년이내      45702 non-null  int64
 22  시설총규모       45702 non-null  float64
 23  추정임대료       45702 non-null  float64
 24  집객시설_수      45702 non-null  float64
 25  관공서_수       45702 non-null  float64
 26  은행_수        45702 non-null  float64
 27  슈퍼마켓_수      45702 non-null  float64
 28  극장_수        45702 non-null  float64
 29  숙박_시설_수     45702 non-null  float64
 30  지하철_역_수     45702 non-null  float64
 31  버스_정거장_수    45702 non-null  float64
 32  총_생활인구_수    45702 non-null  float64
 33  아파트_단지_수    45702 non-null  float64
 34  의료기관_수      45702 non-null  float64
 35  교육기관_수      45702 non-null  float64
 36  생활인구_성별_비   45702 non-null  float64
 37  아파트_평당_가격   45702 non-null  float64
 38  총 상주인구 수    45702 non-null  float64
 39  상주인구_성별_비   45702 non-null  float64
 40  총 가구 수      45702 non-null  float64
 41  거주_유형_비     45702 non-null  float64
 42  점포당_매출_금액   45702 non-null  float64
 43  건수당_매출_금액   45702 non-null  float64
 44  점포수         45702 non-null  float64
 45  유사_업종_점포_수  45702 non-null  float64
 46  프랜차이즈_점포_수  45702 non-null  float64
 47  개업_율        45702 non-null  float64
 48  폐업_률        45702 non-null  float64
 49  선행종합지수      45702 non-null  float64
 50  소비자물가지수     45702 non-null  float64
 51  소비자심리지수     45702 non-null  float64
 52  중소기업대출금리    45702 non-null  float64
 53  업종분류        45702 non-null  object
 54  상권변화_지표명    45702 non-null  object
 55  상권구분_코드명    45702 non-null  object
 56  시군구         45702 non-null  object
 57  생활인구_연령_대표  45702 non-null  object
 58  상주인구_연령_대표  45702 non-null  object
dtypes: float64(37), int64(12), object(10)
memory usage: 20.6+ MB

In [ ]:
df.describe()

,상권코드,시군구코드,행정동코드,폐업여부,사업기간,현재영업여부,인허가분기,인허가년도,다중이용업소여부,철도_역_수,...,건수당_매출_금액,점포수,유사_업종_점포_수,프랜차이즈_점포_수,개업_율,폐업_률,선행종합지수,소비자물가지수,소비자심리지수,중소기업대출금리
count,4.570200e+04,45702.000000,4.570200e+04,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,...,4.570200e+04,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000,45702.000000
mean,2.104256e+06,11463.717671,1.146434e+07,0.304013,856.723885,0.695987,2.513457,2019.058991,0.084066,0.008915,...,2.941903e+04,3.630108,3.125232,1.286626,1.294046,1.237110,116.195398,99.756377,99.156339,3.822434
std,1.092558e+05,190.047501,1.900333e+05,0.459993,516.644086,0.459993,1.100050,1.388331,0.277490,0.112080,...,2.592131e+04,1.274215,1.186864,1.063642,1.009967,1.001049,6.103403,1.621880,9.311555,0.656589
min,1.001491e+06,11110.000000,1.111052e+07,0.000000,0.000000,0.000000,1.000000,2017.000000,0.000000,0.000000,...,2.502627e+03,0.000000,0.000000,0.000000,0.000000,0.000000,107.200000,97.338000,73.000000,3.250000
25%,2.110478e+06,11290.000000,1.129081e+07,0.000000,423.000000,0.000000,2.000000,2018.000000,0.000000,0.000000,...,1.862816e+04,2.708050,2.261763,0.470004,0.000000,0.000000,112.100000,98.855000,94.000000,3.250000
50%,2.110905e+06,11470.000000,1.147058e+07,0.000000,764.000000,1.000000,2.000000,2019.000000,0.000000,0.000000,...,2.678993e+04,3.610918,3.091042,1.098612,1.475907,1.386294,114.000000,99.462000,100.000000,3.440000
75%,2.120131e+06,11650.000000,1.165053e+07,1.000000,1235.000000,1.000000,3.000000,2020.000000,0.000000,0.000000,...,3.485609e+04,4.510860,3.931826,2.005971,2.028148,1.945910,120.300000,100.330000,106.000000,4.600000
max,2.130326e+06,11740.000000,1.174070e+07,1.000000,2005.000000,1.000000,4.000000,2021.000000,1.000000,2.000000,...,2.143374e+06,6.855409,6.287859,4.779123,4.615121,5.707110,127.700000,104.040000,113.000000,4.710000

In [ ]:
# 영업중인 상권기준으로 사업기간이 3년 이하인 업체 제거
df =df[~((df['현재영업여부']==1)*(df['사업기간']<1095))]

In [ ]:
df['폐업3년이내'].value_counts()/len(df)

0    0.547136
1    0.452864
Name: 폐업3년이내, dtype: float64

In [ ]:
df.columns

Index(['행정동', '인허가일자', '상권코드', '사업장명', '시군구코드', '행정동코드', '소재지수정', '폐업여부',
       '사업기간', '현재영업여부', '인허가분기', '인허가년도', '다중이용업소여부', '철도_역_수', '버스_터미널_수',
       '가맹여부', '코로나여부', '상권여부', '대학교_유무', '백화점_유무', '폐업1년이내', '폐업3년이내',
       '시설총규모', '추정임대료', '집객시설_수', '관공서_수', '은행_수', '슈퍼마켓_수', '극장_수',
       '숙박_시설_수', '지하철_역_수', '버스_정거장_수', '총_생활인구_수', '아파트_단지_수', '의료기관_수',
       '교육기관_수', '생활인구_성별_비', '아파트_평당_가격', '총 상주인구 수', '상주인구_성별_비', '총 가구 수',
       '거주_유형_비', '점포당_매출_금액', '건수당_매출_금액', '점포수', '유사_업종_점포_수', '프랜차이즈_점포_수',
       '개업_율', '폐업_률', '선행종합지수', '소비자물가지수', '소비자심리지수', '중소기업대출금리', '업종분류',
       '상권변화_지표명', '상권구분_코드명', '시군구', '생활인구_연령_대표', '상주인구_연령_대표'],
      dtype='object')

In [ ]:
df = df.drop(columns = ['상권코드', '사업장명', '시군구코드', '행정동코드', '소재지수정','폐업여부','현재영업여부','인허가일자','사업기간','폐업1년이내']) # 필요없는 변수 제거

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26869 entries, 0 to 45685
Data columns (total 49 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   행정동         26869 non-null  object
 1   인허가분기       26869 non-null  int64
 2   인허가년도       26869 non-null  int64
 3   다중이용업소여부    26869 non-null  int64
 4   철도_역_수      26869 non-null  float64
 5   버스_터미널_수    26869 non-null  float64
 6   가맹여부        26869 non-null  int64
 7   코로나여부       26869 non-null  int64
 8   상권여부        26869 non-null  int64
 9   대학교_유무      26869 non-null  int64
 10  백화점_유무      26869 non-null  int64
 11  폐업3년이내      26869 non-null  int64
 12  시설총규모       26869 non-null  float64
 13  추정임대료       26869 non-null  float64
 14  집객시설_수      26869 non-null  float64
 15  관공서_수       26869 non-null  float64
 16  은행_수        26869 non-null  float64
 17  슈퍼마켓_수      26869 non-null  float64
 18  극장_수        26869 non-null  float64
 19  숙박_시설_수     26869 non-null  float64
 20  지하철_역_수     26869 non-null  float64
 21  버스_정거장_수    26869 non-null  float64
 22  총_생활인구_수    26869 non-null  float64
 23  아파트_단지_수    26869 non-null  float64
 24  의료기관_수      26869 non-null  float64
 25  교육기관_수      26869 non-null  float64
 26  생활인구_성별_비   26869 non-null  float64
 27  아파트_평당_가격   26869 non-null  float64
 28  총 상주인구 수    26869 non-null  float64
 29  상주인구_성별_비   26869 non-null  float64
 30  총 가구 수      26869 non-null  float64
 31  거주_유형_비     26869 non-null  float64
 32  점포당_매출_금액   26869 non-null  float64
 33  건수당_매출_금액   26869 non-null  float64
 34  점포수         26869 non-null  float64
 35  유사_업종_점포_수  26869 non-null  float64
 36  프랜차이즈_점포_수  26869 non-null  float64
 37  개업_율        26869 non-null  float64
 38  폐업_률        26869 non-null  float64
 39  선행종합지수      26869 non-null  float64
 40  소비자물가지수     26869 non-null  float64
 41  소비자심리지수     26869 non-null  float64
 42  중소기업대출금리    26869 non-null  float64
 43  업종분류        26869 non-null  object
 44  상권변화_지표명    26869 non-null  object
 45  상권구분_코드명    26869 non-null  object
 46  시군구         26869 non-null  object
 47  생활인구_연령_대표  26869 non-null  object
 48  상주인구_연령_대표  26869 non-null  object
dtypes: float64(33), int64(9), object(7)
memory usage: 10.2+ MB

In [ ]:
df['인허가년도'] = df['인허가년도'].astype('str')
df['인허가분기']= df['인허가분기'].astype('str')

In [ ]:
len(df['행정동'].unique())
len(df['시군구'].unique())
len(df['업종분류'].unique())

10

In [ ]:
행정동 = df.pop('행정동')

In [ ]:
# 여기서 mi score를 구해야할 필요가 있다.
# vif를 통해 너무 겹치는거 제거.

# mi score,**vif** 계산

In [ ]:
# 더미변수 로 변환하지 않은 train, test 샘플로 분리
from sklearn.model_selection import train_test_split
data = df[df.columns.difference(["폐업3년이내"])]
label = df['폐업3년이내']
X_train, X_test, y_train, y_test = train_test_split(data,label,test_size = 0.3, shuffle = True, random_state = 21)

In [ ]:
category_feature = [ col for col in X_train.columns if X_train[col].dtypes == "object"]
num_feature = X_train.columns.difference(category_feature)

In [ ]:
for col in num_feature:
  X_train[col] = X_train[col].astype(int)

In [ ]:
for colname in X_train.select_dtypes("object"):
    X_train[colname], _ = X_train[colname].factorize()

discrete_features = X_train.dtypes == int

In [ ]:
from sklearn.feature_selection import mutual_info_regression

def make_mi_scores(X, y, discrete_features):
    mi_scores = mutual_info_regression(X, y, discrete_features=discrete_features)
    mi_scores = pd.Series(mi_scores, name="3년이내 폐업으로 한 MI Scores", index=X.columns)
    mi_scores = mi_scores.sort_values(ascending=False)
    return mi_scores

mi_scores = make_mi_scores(X_train, y_train, discrete_features)
mi_scores  # show a few features with their MI scores

추정임대료         1.801192
점포당_매출_금액     1.154851
총_생활인구_수      1.010384
건수당_매출_금액     0.996965
아파트_평당_가격     0.744570
총 상주인구 수      0.673257
총 가구 수        0.566033
선행종합지수        0.147625
소비자심리지수       0.133408
인허가년도         0.112610
코로나여부         0.100758
소비자물가지수       0.066255
중소기업대출금리      0.051879
아파트_단지_수      0.043475
시설총규모         0.033462
집객시설_수        0.017904
의료기관_수        0.015501
버스_정거장_수      0.013496
지하철_역_수       0.012418
극장_수          0.011152
상권변화_지표명      0.010719
업종분류          0.010174
슈퍼마켓_수        0.008629
숙박_시설_수       0.007785
인허가분기         0.007251
상주인구_연령_대표    0.006963
다중이용업소여부      0.006359
은행_수          0.006149
생활인구_연령_대표    0.005949
상주인구_성별_비     0.005930
가맹여부          0.005406
교육기관_수        0.005350
폐업_률          0.004906
상권여부          0.003530
개업_율          0.003498
시군구           0.003109
대학교_유무        0.002988
거주_유형_비       0.002082
버스_터미널_수      0.001917
관공서_수         0.001898
상권구분_코드명      0.001773
철도_역_수        0.001541
유사_업종_점포_수    0.000000
생활인구_성별_비     0.000000
점포수           0.000000
백화점_유무        0.000000
프랜차이즈_점포_수    0.000000
Name: 3년이내 폐업으로 한 MI Scores, dtype: float64

In [ ]:
mi_index = mi_scores[mi_scores > 0.01].index

In [ ]:
X_train.loc[:,mi_index].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18808 entries, 17328 to 20650
Data columns (total 22 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   추정임대료      18808 non-null  int64
 1   점포당_매출_금액  18808 non-null  int64
 2   총_생활인구_수   18808 non-null  int64
 3   건수당_매출_금액  18808 non-null  int64
 4   아파트_평당_가격  18808 non-null  int64
 5   총 상주인구 수   18808 non-null  int64
 6   총 가구 수     18808 non-null  int64
 7   선행종합지수     18808 non-null  int64
 8   소비자심리지수    18808 non-null  int64
 9   인허가년도      18808 non-null  int64
 10  코로나여부      18808 non-null  int64
 11  소비자물가지수    18808 non-null  int64
 12  중소기업대출금리   18808 non-null  int64
 13  아파트_단지_수   18808 non-null  int64
 14  시설총규모      18808 non-null  int64
 15  집객시설_수     18808 non-null  int64
 16  의료기관_수     18808 non-null  int64
 17  버스_정거장_수   18808 non-null  int64
 18  지하철_역_수    18808 non-null  int64
 19  극장_수       18808 non-null  int64
 20  상권변화_지표명   18808 non-null  int64
 21  업종분류       18808 non-null  int64
dtypes: int64(22)
memory usage: 3.3 MB

# **모델링 작업**

In [ ]:
# # 이건 모든 변수 사용
# from sklearn.model_selection import train_test_split
# data = df[df.columns.difference(["폐업3년이내"])]
# label = df['폐업3년이내']
# X_train, X_test, y_train, y_test = train_test_split(data,label,test_size = 0.3, shuffle = True, random_state = 21)

In [ ]:
# 이건 miscore > 0.1 이상인 변수만 사용
from sklearn.model_selection import train_test_split
data = df[mi_index]
label = df['폐업3년이내']
X_train, X_test, y_train, y_test = train_test_split(data,label,test_size = 0.3, shuffle = True, random_state = 21)

In [ ]:
# 전처리를 위해 train데이터와 test데이터 병합
whole_df = X_train.append(X_test)
# train 로우 개수 미리 확인(다시 나눠야 하니깐)
train_df_num = len(X_train)

In [ ]:
whole_df = pd.get_dummies(whole_df)
whole_index = whole_df.columns

In [ ]:
# 다시 데이터 트레인과 test로 분리
X_train = whole_df[:train_df_num]
X_test = whole_df[train_df_num:]

In [ ]:
from sklearn.preprocessing import MinMaxScaler
# 표준화작업 진행
scaler = MinMaxScaler()
scaler.fit(X_train)
whole_df = scaler.transform(whole_df)

In [ ]:
# 다시 데이터 트레인과 test로 분리
X_train = whole_df[:train_df_num]
X_test = whole_df[train_df_num:]

In [ ]:
X_train=pd.DataFrame(X_train,columns=whole_index)
X_test=pd.DataFrame(X_test,columns=whole_index)

In [ ]:
skew = pd.DataFrame(X_train.skew())

In [ ]:
skewid = skew.loc[skew[0]>3].index
skew.loc[skew[0]>3]

                        0
추정임대료           33.200509
점포당_매출_금액        3.091191
건수당_매출_금액       27.265871
시설총규모            9.719763
극장_수             5.163472
인허가년도_2020       3.084118
인허가년도_2021       4.603299
상권변화_지표명_상권축소    3.215223
상권변화_지표명_상권확장    3.575279
업종분류_분식전문점       3.773638
업종분류_양식음식점       3.402509
업종분류_일식음식점       4.236850
업종분류_중식음식점       5.433237
업종분류_치킨전문점      25.409767
업종분류_커피-음료       4.644079
업종분류_패스트푸드점    137.142262

In [ ]:
skewid

Index(['추정임대료', '점포당_매출_금액', '건수당_매출_금액', '시설총규모', '극장_수', '인허가년도_2020',
       '인허가년도_2021', '상권변화_지표명_상권축소', '상권변화_지표명_상권확장', '업종분류_분식전문점',
       '업종분류_양식음식점', '업종분류_일식음식점', '업종분류_중식음식점', '업종분류_치킨전문점', '업종분류_커피-음료',
       '업종분류_패스트푸드점'],
      dtype='object')

In [ ]:
whole_df=pd.DataFrame(whole_df,columns=whole_index)

In [ ]:
# 로그변환 작업
for col in skewid:
  whole_df[col] = np.log1p(whole_df[col])

In [ ]:
# 다시 데이터 트레인과 test로 분리
X_train = whole_df[:train_df_num]
X_test = whole_df[train_df_num:]

In [ ]:
skew = pd.DataFrame(X_train.skew()) # 조금 줄긴함 하지만 여전히 skew
skew.loc[skew[0]>3]

                        0
추정임대료           23.046805
건수당_매출_금액       18.665054
시설총규모            7.093650
극장_수             4.362332
인허가년도_2020       3.084118
인허가년도_2021       4.603299
상권변화_지표명_상권축소    3.215223
상권변화_지표명_상권확장    3.575279
업종분류_분식전문점       3.773638
업종분류_양식음식점       3.402509
업종분류_일식음식점       4.236850
업종분류_중식음식점       5.433237
업종분류_치킨전문점      25.409767
업종분류_커피-음료       4.644079
업종분류_패스트푸드점    137.142262

In [81]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression(max_iter=300,penalty='l1',solver='liblinear')
log_reg.fit(X_train,y_train)

LogisticRegression(max_iter=300, penalty='l1', solver='liblinear')

In [82]:
y_pred = log_reg.predict(X_test)

In [83]:
y_test

31198    0
33598    1
33217    1
32916    0
29486    0
        ..
14749    1
5260     0
9806     0
34645    0
33969    0
Name: 폐업3년이내, Length: 8061, dtype: int64

In [84]:
from sklearn.model_selection import GridSearchCV

params = {'penalty':['l2', 'l1'],
         'C':[0.01, 0.1, 1, 5, 10]}

grid_reg = GridSearchCV(log_reg, param_grid=params, scoring='f1', cv=3,error_score='raise')
grid_reg.fit(X_train, y_train)
print('최적 하이퍼 파라미터 :{0}, 최적 평균 f1_score :{1:.3f}'.format(grid_reg.best_params_,
                                                   grid_reg.best_score_))

최적 하이퍼 파라미터 :{'C': 10, 'penalty': 'l1'}, 최적 평균 f1_score :0.577

In [85]:
y_pred = grid_reg.predict(X_test)

In [86]:
coef = pd.DataFrame(log_reg.coef_,columns=whole_index).T
coef = coef.rename(columns={0:'coefficient'})
coef.sort_values('coefficient')

               coefficient
소비자물가지수          -7.342983
시설총규모            -6.916742
소비자심리지수          -2.380614
총 상주인구 수         -0.699254
지하철_역_수          -0.482286
업종분류_중식음식점       -0.328336
업종분류_일식음식점       -0.263424
인허가년도_2017       -0.223300
중소기업대출금리         -0.195847
업종분류_커피-음료       -0.156548
의료기관_수           -0.066922
상권변화_지표명_정체      -0.031516
인허가년도_2018        0.000000
업종분류_한식음식점        0.000000
추정임대료             0.000000
상권변화_지표명_상권축소     0.000000
인허가년도_2019        0.000000
총 가구 수            0.000000
건수당_매출_금액         0.000000
업종분류_패스트푸드점       0.000000
집객시설_수            0.000000
인허가년도_2021        0.000000
버스_정거장_수          0.018062
업종분류_호프-간이주점      0.025216
업종분류_양식음식점        0.040196
업종분류_기타           0.048369
업종분류_치킨전문점        0.155283
상권변화_지표명_상권확장     0.178854
상권변화_지표명_다이나믹     0.215681
점포당_매출_금액         0.264530
업종분류_분식전문점        0.324005
총_생활인구_수          0.392692
극장_수              0.399241
아파트_단지_수          0.483627
아파트_평당_가격         0.896929
코로나여부             5.096607
인허가년도_2020        5.888953
선행종합지수            7.987204

In [87]:
# 성능 평가

from sklearn.metrics import accuracy_score, roc_auc_score,f1_score,confusion_matrix

def get_eval(y_test, pred):
    confusion = confusion_matrix(y_test, pred)
    accuracy = accuracy_score(y_test, pred)
    f1 = f1_score(y_test,y_pred)
    roc_score =  roc_auc_score(y_test, y_pred)
    print('Confusion Matrix')
    print(confusion)
    print('정확도:{:.2f}, f1 score:{:.2f}, roc_score:{:.2f}'.format(accuracy,f1,roc_score))

get_eval(y_test,y_pred)

Confusion Matrix
[[4193  193]
 [2120 1555]]
정확도:0.71, f1 score:0.57, roc_score:0.69